# Copy this into Streamlit Community Cloud > App > Settings > Secrets
COMPACTIF_BASE_URL="https://api.compactif.ai/v1"
COMPACTIF_API_KEY="152ac740-1d0f-48a8-a6aa-a5e482d37fbc" # option 1
COMPACTIF_API_KEY="35df1ace-fdf8-4471-b16f-b3d296eb71ec" # option 2
